.home{
    display: flex;
    .homeContainer{
        background-color: white;
        flex:6;
        .widgets, .charts{
            display: flex;
            gap: 20px;
            padding: 20px;
        }
        .chart{
            padding:5px 20px;
        }
        .listContainer{
            -webkit-box-shadow: 5px 5px 20px -8px #000000; 
            box-shadow: 5px 5px 20px -8px #000000;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            .listTitle{
                font-size: 16px;
                font-weight: 600;
                color: #6b7280;
            }
        }
    }
}