.chart{
    flex:5;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 20px -8px #000000;
    box-shadow: 5px 5px 20px -8px #000000;
    height: 360px;

    .title{
        margin: 0 0 14px 0;
        color: #6b7280;
        font-size: 16px;
        font-weight: 600;
    }
    .lineChart{
        height: 300px;
        width:500px;
    }
}
