.widget{
    padding: 20px;
    display: flex;
    flex:1;
    border-radius: 10px;
    height: 100px;
    justify-content: space-between;
    -webkit-box-shadow: 5px 5px 20px -8px #000000; 
    box-shadow: 5px 5px 20px -8px #000000;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title{
            font-weight: bold;
            font-size: 20px;
            color: gray;
        }
        .count{
            font-size: 28px;
            font-weight: 300;
        }
        .icon{
            font-size: 80px;
            color: rgb(8, 74, 8);
            padding: 5px;
            border-radius: 5px;
            height: 100%;  
        }
    }
}