.featured{
    flex:2;
    -webkit-box-shadow: 5px 5px 20px -8px #000000; 
    box-shadow: 5px 5px 20px -8px #000000;
    padding: 10px;
    border-radius: 10px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;
        
        .title{
            font-size: 16px;
            font-weight: 500;
            width: 100%;
            margin: 5px;
        }
    }
    .bottom{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    
    
}        
 
}