.animals{
        display: flex;
        
        width: 100%;
       
    .container{
        flex:6;
        width: 100%;
        
    }
    .table{
        height: 500px;
        margin: 10px;

    }
}