.sidebar{
    flex: 1;
    background-color: rgb(244, 249, 244);
    min-height: 100vh;
    .top{
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            width: 200%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            overflow: hidden;
            color: rgb(8, 121, 8);

             img{
                width: 200%;
                height: 200%;
                object-fit: contain;
                object-position:fit;
                display: block;
                background-color: transparent;
                color: rgb(8, 121, 8);
             }
        } 
    }
    hr{
        height: 0;
        border: 0.5px solid white;
    }
    .centre{
        padding-left: 10px;
        ul{
          list-style: none;
          margin: 0;
          padding: 0;  
          

          li{
            display: flex;
            align-items: center;
            padding: 10px;
            cursor:pointer;
            &:hover{
                background-color: rgb(181, 250, 181);
                border-radius: 5px;
                margin: 5px;
            }
          }
          .icon{
            font-size: 18px;
            color: rgb(8, 121, 8);
             }
          span{
            font-size: 14px;
            font-weight: 500;
            color: rgb(0, 0, 0);
            margin: 10px;
          }
    }
    }
    .bottom{
        display: flex;
        align-items: center;
        margin: 10%;
        .colourOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid green;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background-color: white;
            }
             &:nth-child(2){
                background-color: #333;
            }
        }
    }
}
