.sidebar{
    flex: 1;
    background-color: rgb(216, 242, 216);
    min-height: 100vh;
    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            font-size: 20px;
            font-weight: bold;
            color: white;
        } 
    }
    hr{
        height: 0;
        border: 0.5px solid white;
    }
    .centre{
        padding-left: 10px;
        ul{
          list-style: none;
          margin: 0;
          padding: 0;  

          li{
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;
            &:hover{
                background-color: rgb(100, 241, 100);
            }
          }
          span{
            font-size: 14px;
            font-weight: 500;
            color: black;
            margin: 10px;
          }
    }
    }
}