.sidebar{
    flex: 1;
    background-color: rgb(244, 249, 244);
    min-height: 100vh;
    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            font-size: 20px;
            font-weight: bold;
            color: rgb(13, 148, 9);
        } 
    }
    hr{
        height: 0;
        border: 0.5px solid white;
    }
    .centre{
        padding-left: 10px;
        ul{
          list-style: none;
          margin: 0;
          padding: 0;  
          

          li{
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;
            &:hover{
                background-color: rgb(181, 250, 181);
            }
          }
          .icon{
            font-size: 18px;
            color: rgb(8, 121, 8);
             }
          span{
            font-size: 14px;
            font-weight: 500;
            color: rgb(0, 0, 0);
            margin: 10px;
          }
    }
    }
    .bottom{
        display: flex;
        align-items: center;
        margin: 10%;
        .colourOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid green;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background-color: white;
            }
             &:nth-child(2){
                background-color: #333;
            }
        }
    }
}